body {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.center {
    text-align: center;
}

span {
    padding: 4px;
}

header {
    background-color: #CEDADE;
    color: #0D0D0D;
    padding: 8px;
}

h1 {
    font-size: 65px;
    margin: 0px;
}

h2 {
    font-size: 35px;
    padding-left: 40px;
}

h3 {
    font-size: 23px;
    margin: 0px;
    padding: 0px;
}

.headshot {
    float: left;
    width: 300px;
    margin: 40px;
    border-radius: 20px;
}

.aboutPhotos {
    float: right;
    width: 300px;
    margin: 40px;
    border-radius: 20px;
}

div {
    background-color: #CEDADE;
    color: #2C241E;
    border: 5px solid #827063;
    width: 80%;
    margin-left: 100px;
    border-radius: 20px;
}

main {
    background-color: #0C4248;
    color: #CEDADE;
    min-height:100vh;
}

p {
    font-size: 25px;
    margin: 25px;
    padding-left: 15px;
}

hr {
    border: 5px solid #827063;
    min-width: 100vw;
    margin: 5px 0px -10px -10px;
}

ul, a {
    font-size: 25px;
}

ul {
    margin-left: 400px;
}

#mission {
    font-size: 42px;
    font-style:italic;
}

a:link    { color: #0C4248; }
a:visited { color: #827063; }
a:hover   { color: #0D0D0D; }
a:active  { color: #CEDADE; }