* {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    display: flex;
    justify-content:center;
}

.center {
    text-align: center;
}

span {
    padding: 4px;
    margin: auto;
}

header {
    background-color: #CEDADE;
    color: #0D0D0D;
    padding: 8px;
}

a {
    text-decoration: none;
    text-align: center;
    background-color: #f0f6f8;
    border: 2px #0C4248 solid;
    padding: 3px 6px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 12px -2px #0D0D0D;
}

h1 {
    font-size: 65px;
    margin: 0px;
}

h2 {
    font-size: 35px;
    padding-left: 40px;
}

h3 {
    font-size: 23px;
    margin: 0px;
    padding: 0px;
}

.headshot {
    float: left;
    width: 300px;
    margin: 40px;
    border-radius: 20px;
}

.aboutPhotos {
    float: right;
    width: 300px;
    margin: 40px;
    margin-top: -20px;
    border-radius: 20px;
    text-align: right;
}

.boxes {
    background-color: #CEDADE;
    color: #2C241E;
    border: 5px solid #827063;
    width: 80%;
    margin-left: 100px;
    border-radius: 20px;
}

.padding {
    padding: 20px;
}

main {
    background-color: #0C4248;
    color: #CEDADE;
    min-height:100vh;
}

p {
    font-size: 25px;
    margin: 25px;
    padding-left: 15px;
}

hr {
    border: 5px solid #827063;
    min-width: 100vw;
    margin: 5px 0px -10px -10px;
}

ul, a {
    font-size: 25px;
}

ul {
    margin-left: 400px;
}

#mission {
    font-size: 42px;
    font-style:italic;
}

form {
    font-size: 20px;
    max-width: 660px;
    margin: auto;
}

input {
    width: 100%;
}

textarea {
    width: 100%;
    height: 100px;
}

#return {
    display: flex;
    justify-content: center;
}

a:link    { color: #0C4248; }
a:visited { color: #0D0D0D; }
a:hover   { background-color: #827063; }
a:active  { color: #CEDADE; }

@media screen and (max-width: 480px) {
    
    main {
        width: 100%;
        padding-bottom: 100px;
    }

    ul {
        margin-left: 30px;
    }

    nav {
        flex-direction: column;
    }

    .boxes {
        width: 95%;
        margin: 10px 50px 10px 10px;
    }
}